/* App.css */

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}


.card {
  display: flex;
  height: 100px;
  width: 400px;
  padding: 20px;
  margin: 20px;
  margin-top: 200px;
  margin-right: 750px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.content {
  flex: 2;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.card p {
  margin: 5px 0;
  font-size: 1rem;
  color: #777;
}

.card i {
  margin-right: 5px;
  color: #999;
}

.drafts-section {
  margin: 20px;
  width: 500px;
  margin-top: -165px; /* Add top margin for spacing */
  margin-bottom: 20px; /* Add bottom margin for spacing */
  margin-left: 600px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}
